Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -fuchsia-*, 
  -google-*,
  -llvm-*,
  -misc-unused-parameters,
  -hicpp-*,
  -android-*,
  -mpi-*,
  -zircon-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-avoid-non-cost-global-variables,
  -modernize-avoid-c-arrays,
  -misc-use-anonymous-namespace,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-convert-member-functions-to-static,
  -readability-uppercase-literal-suffix,
  -readability-function-cognitive-complexity

CheckOptions:
  # Core
  - { key: readability-identifier-naming.NamespaceCase,         value: CamelCase }
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase }
  - { key: readability-identifier-naming.StructCase,            value: CamelCase }
  - { key: readability-identifier-naming.EnumCase,              value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase,      value: CamelCase }
  - { key: readability-identifier-naming.TypeAliasCase,         value: CamelCase }
  - { key: readability-identifier-naming.TypedefCase,           value: CamelCase }
  - { key: readability-identifier-naming.MacroDefinitionCase,   value: UPPER_CASE }

  # Functions/Methods
  - { key: readability-identifier-naming.GlobalFunctionCase,    value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase,          value: CamelCase }
  - { key: readability-identifier-naming.MethodCase,            value: CamelCase }

  # Variables
  - { key: readability-identifier-naming.VariableCase,          value: camelBack }
  - { key: readability-identifier-naming.ParameterCase,         value: camelBack }

  # Global Variables
  - { key: readability-identifier-naming.GlobalVariableCase,    value: CamelCase }
  - { key: readability-identifier-naming.GlobalVariablePrefix,  value: G }

  # Constants
  - { key: readability-identifier-naming.ConstantCase,          value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase,    value: CamelCase }

  # Members
  - { key: readability-identifier-naming.MemberCase,            value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix,   value: m_ }
  - { key: readability-identifier-naming.ProtectedMemberCase,   value: CamelCase }
  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: m_ }

  # Other
  - { key: cppcoreguidelines-init-variables.StrictMode,         value: true }
  - { key: modernize-use-nullptr.NullMacros,                    value: NULL }

WarningsAsErrors: '*,-readability-identifier-naming'
